---
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import { Hero } from "../components/React/Hero";
import { Tecnologys } from "../components/React/Tecnologys";
import { TextGenerate } from "../components/React/TextGenerate";
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../components/icons/Code.astro";
import TecnologyIcon from "../components/icons/Tecnology.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import Layout from "../layouts/Layout.astro";
import es from '../utils/assets/es.json';
import en from '../utils/assets/en.json';

const {leng: lenguage} = Astro.props;
const CONDICION = lenguage === 'es';

---

<Layout 
	title={ CONDICION ? es["info-page"].title : en["info-page"].title }
	descripcion={ CONDICION ? es["info-page"].description : en["info-page"].description }
    lenguage={lenguage}
>
	<main class="px-4 md:px-0">
		<Hero condition={CONDICION} client:visible/>
		<SectionContainer id="experiencia" class="pb-32">
			<h2 class="text-3xl font-semibold mb-8 flex gap-x-4 items-center">
				<BriefCase class="size-8" />
				{ CONDICION ? es["exp-section"].title : en["exp-section"].title }
			</h2>
			<Experience lenguage={lenguage} />
		</SectionContainer>
		
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-8 flex gap-x-4 items-center">
				<CodeIcon class="size-8" />
				{ CONDICION ? es["project-section"].title : en["project-section"].title }
			</h2>
			<Projects lenguage={lenguage} />
		</SectionContainer>

		<SectionContainer id="tecnologias" class="pt-32">
			<h2 class="text-3xl font-semibold mb-8 flex gap-x-4 items-center">
				<TecnologyIcon class="size-8" />
				{ CONDICION ? es["tech-section"].title : en["tech-section"].title }
			</h2>
			<Tecnologys lenguage={ lenguage } client:visible/>
		</SectionContainer>

		<SectionContainer id="gracias" class="pt-32">
			<TextGenerate lenguage={lenguage} client:visible/>
		</SectionContainer >

	</main>
</Layout>