---
import GitHub from "./icons/GitHub.astro"
import NextIcon from "./icons/Next.astro"
import TailwindIcon from "./icons/Tailwind.astro"

const TAGS = {
    NEXT: {
        name: 'Next.js',
        class: 'bg-black text-white',
        icon:NextIcon
    },
    TAILWIND: {
        name: 'Tailwind CSS',
        class: 'bg-white text-[#73bcf6]',
        icon: TailwindIcon
    },
}

const PROJECTS = [
    {
        title: 'Sistema de inventario y manejo de caja de cafeteria Sakura Coffe Shop',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, nisl vitae tincidunt ultricies, nunc nisl ultricies nunc, nec aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, nisl vitae tincidunt ultricies, nunc nisl ultricies nunc, nec aliquam',
        image: '/projects/Project_SakuraCoffee.webp',
        link: 'https://www.google.com',
        github: 'https://github.com/Bricret/sakura-coffee-admin',
        tags: [TAGS.NEXT, TAGS.TAILWIND]
    },
    // {
    //     title: 'Project 2',
    //     description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, nisl vitae tincidunt ultricies, nunc nisl ultricies nunc, nec aliquam nisl nisl nec nisl. Donec auctor, nisl vitae tincidunt ultricies, nunc nisl ultricies nunc, nec aliquam nisl nisl nec nisl.',
    //     image: 'https://via.placeholder.com/300x200',
    //     link: 'https://www.google.com',
    //     github: 'https://www.github.com',
    //     tags: ['HTML', 'CSS', 'JavaScript']
    // },
]
---

{
    PROJECTS.map(({ title, description, image, link, github, tags }) => (
    <section class="w-full flex flex-col items-center justify-between mb-10 rounded-3xl border border-solid border-black bg-white shadow-2xl p-6">
        <a href={link} target="_blank" class="w-full h-80 cursor-pointer overflow-hidden rounded-lg">
            <img src={image} alt={title} class="w-full h-full  object-cover flex-shrink-0" />
        </a>
        <div class="w-full flex flex-col items-start justify-between pl-6 text-black">
            <span class="my-2 w-10/12 text-left text-2xl font-bold">{title}</span>
            <p class="my-2 font-medium text-black/50 text-pretty">{description}</p>
            <p class="flex items-center gap-x-4 my-2">
            {
                tags.map((tag) => (
                    <span class="text-sm font-medium  text-black/50">
                        {tag}
                    </span>
                ))
            }
            </p>
            <div class="mt-2 flex items-center h-auto">
                <a href={github} target="_blank" class="w-10"> <GitHub class="size-8"/> </a>
                <a href={link} target="_blank" 
                    class="ml-4 rounded-lg bg-black text-white p-2 px-4 text-base font-semibold">
                    Visita el Proyecto!
                </a>
            </div>
        </div>
    </section>
    ))

    }    