---
import GitHub from "./icons/GitHub.astro";
import { ProjectsEs } from "./data/Projects";
---

{
  ProjectsEs.map(
    ({ title, description, image, link, github, tags, details }) => (
      <section class="relative w-full flex flex-col items-center justify-between mb-20 rounded-3xl border border-solid border-black bg-white shadow-2xl p-6">
        <div class="absolute top-0 -right-3 -z-10 w-[102%] min-h-[102%] rounded-[2rem] bg-zinc-500" />
        <a
          href={link}
          target="_blank"
          class="w-full h-72 cursor-pointer overflow-hidden rounded-lg"
        >
          <img
            src={image}
            alt={title}
            class="w-full h-full  object-cover flex-shrink-0"
          />
        </a>
        <div class="w-full flex flex-col items-start justify-between pl-6 text-black">
          <span class="mt-4 text-left text-xl md:text-2xl font-bold">
            {title}
          </span>
          <p class="my-2 font-normal md:font-medium text-black/90 text-pretty">
            {description}
          </p>
          <p class="my-2 font-bold text-black">{details}</p>
          <ul class="flex items-center gap-x-2 gap-y-4 my-4 max-w-full flex-wrap">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x- items-center rounded-full text-sm ${tag.class} py-1.5 px-3 cursor-default`}
                >
                  <tag.icon class={`size-6 mr-1`} />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <div class="mt-2 flex items-center h-auto ">
            <a
              href={github}
              target="_blank"
              class="w-10 hover:scale-110 transition"
            >
              {" "}
              <GitHub class="size-8" />{" "}
            </a>
            <a
              href={link}
              target="_blank"
              class="ml-4 rounded-lg bg-black text-white p-2 px-4 text-base font-semibold hover:scale-110 transition"
            >
              Visita el Proyecto!
            </a>
          </div>
        </div>
      </section>
    )
  )
}

