---
import GitHub from "./icons/GitHub.astro"
import NextIcon from "./icons/Next.astro"
import TailwindIcon from "./icons/Tailwind.astro"
import PrismaIcon from "./icons/Prisma.astro"
import TypeScriptIcon from "./icons/TypeScript.astro"
import MysqlIcon from "./icons/MySql.astro"

const TAGS = {
    NEXT: {
        name: 'Next.js',
        class: 'bg-black/80 text-white',
        icon:NextIcon
    },
    TAILWIND: {
        name: 'Tailwind CSS',
        class: 'bg-[#003159] text-white',
        icon: TailwindIcon
    },
    PRISMA: {
        name: 'Prisma',
        class: 'bg-[#1B5299] text-white',
        icon: PrismaIcon
    },
    TYPESCRIPT: {
        name: 'TypeScript',
        class: 'bg-[#003159] text-white',
        icon: TypeScriptIcon
    },
    MYSQL: {
        name: 'MySQL',
        class: 'bg-[#003159] text-white',
        icon: MysqlIcon
    },
}

const PROJECTS = [
    {
        title: 'Sistema de inventario y manejo de caja de cafeteria Sakura Coffe Shop',
        description: 'El proyecto consiste en un sistema de inventario y manejo de caja para una cafeteria, el cual permite llevar un control de los productos que se venden, control de pedidos, el dinero que se tiene en caja, y el dinero que se ha ganado en el dia. Realiza cierre de caja y permite ver el historial de ventas. Genera multiples Excel de reportes filtrados por Fechas asi como tambien una gran seguridad en el manejo de los datos.',
        image: '/projects/Project_SakuraCoffee.webp',
        link: 'https://www.google.com',
        github: 'https://github.com/Bricret/sakura-coffee-admin',
        tags: [TAGS.NEXT,  TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.PRISMA, TAGS.MYSQL ]
    },
    // {
    //     title: 'Project 2',
    //     description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, nisl vitae tincidunt ultricies, nunc nisl ultricies nunc, nec aliquam nisl nisl nec nisl. Donec auctor, nisl vitae tincidunt ultricies, nunc nisl ultricies nunc, nec aliquam nisl nisl nec nisl.',
    //     image: 'https://via.placeholder.com/300x200',
    //     link: 'https://www.google.com',
    //     github: 'https://www.github.com',
    //     tags: ['HTML', 'CSS', 'JavaScript']
    // },
]
---

{
    PROJECTS.map(({ title, description, image, link, github, tags }) => (
    <section class="w-full flex flex-col items-center justify-between mb-10 rounded-3xl border border-solid border-black bg-white/90 shadow-2xl p-6 relative">
        <div class="absolute top-0 -right-3 -z-10 w-[102%] h-[103%] rounded-[2rem] bg-black" />
        <a href={link} target="_blank" class="w-full h-80 cursor-pointer overflow-hidden rounded-lg">
            <img src={image} alt={title} class="w-full h-full  object-cover flex-shrink-0" />
        </a>
        <div class="w-full flex flex-col items-start justify-between pl-6 text-black">
            <span class="mt-4 text-left text-2xl font-bold">{title}</span>
            <p class="my-2 font-medium text-black/50 text-pretty">{description}</p>
            <ul class="flex items-center gap-x-2 my-4">
            {
                tags.map((tag) => (
                    <li >
                        <span class={`flex gap-x- items-center rounded-full text-sm ${tag.class} py-1.5 px-3 cursor-default`}>
                            <tag.icon class={`size-7 mr-1`} />
                            {tag.name}
                        </span>
                    </li>
                ))
            }
            </ul>
            <div class="mt-2 flex items-center h-auto">
                <a href={github} target="_blank" class="w-10"> <GitHub class="size-8"/> </a>
                <a href={link} target="_blank" 
                    class="ml-4 rounded-lg bg-black text-white p-2 px-4 text-base font-semibold">
                    Visita el Proyecto!
                </a>
            </div>
        </div>
    </section>
    ))

    }    